.product-detail .left {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}
.product-detail .product-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.ant-list-item {
  display: block !important;
}
